<a href="https://colab.research.google.com/github/Zahzull/dataset-datamining/blob/main/Preprocessing_Data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
%matplotlib inline

import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np

In [10]:
df = pd.read_csv("pima_Missing_values.csv")

In [8]:
df

,NoOfPregency,PlasmaGlucoseCon,BloodPressure,SkinFoldThickness,Insuline,BMI,DiabetesPedigree,Age,Class
0,10,108,66,<null>,0,32.4,0.272,42,tested_positive
1,7,107,74,0,0,29.6,0.254,31,tested_positive
2,0,179,90,27,<null>,<null>,0.686,23,tested_positive
3,10,125,70,26,<null>,31.1,0.205,41,tested_positive
4,10,<null>,<null>,0,0,38,0.537,34,tested_positive
...,...,...,...,...,...,...,...,...,...
685,2,<null>,78,50,140,<null>,<null>,24,tested_negative
686,1,107,68,19,0,26.5,0.165,24,tested_negative
687,2,98,60,17,120,34.7,0.198,22,tested_negative
688,4,122,68,0,0,35,<null>,29,tested_negative
689,4,145,82,18,0,32.5,0.235,70,tested_positive

In [11]:
df.head(10)

,NoOfPregency,PlasmaGlucoseCon,BloodPressure,SkinFoldThickness,Insuline,BMI,DiabetesPedigree,Age,Class
0,10,108,66,<null>,0,32.4,0.272,42,tested_positive
1,7,107,74,0,0,29.6,0.254,31,tested_positive
2,0,179,90,27,<null>,<null>,0.686,23,tested_positive
3,10,125,70,26,<null>,31.1,0.205,41,tested_positive
4,10,<null>,<null>,0,0,38,0.537,34,tested_positive
5,5,162,104,<null>,0,37.7,0.151,52,tested_positive
6,7,<null>,50,33,392,33.9,0.826,34,tested_positive
7,0,131,88,0,0,<null>,0.743,32,tested_positive
8,3,132,80,0,<null>,34.4,0.402,44,tested_positive
9,7,97,76,<null>,91,40.9,0.871,32,tested_positive

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 690 entries, 0 to 689
Data columns (total 9 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   NoOfPregency       690 non-null    object
 1   PlasmaGlucoseCon   690 non-null    object
 2   BloodPressure      690 non-null    object
 3   SkinFoldThickness  690 non-null    object
 4   Insuline           690 non-null    object
 5   BMI                690 non-null    object
 6   DiabetesPedigree   690 non-null    object
 7   Age                690 non-null    object
 8   Class              690 non-null    object
dtypes: object(9)
memory usage: 48.6+ KB

In [13]:
df.isnull().sum()

NoOfPregency         0
PlasmaGlucoseCon     0
BloodPressure        0
SkinFoldThickness    0
Insuline             0
BMI                  0
DiabetesPedigree     0
Age                  0
Class                0
dtype: int64

In [14]:
df['Class'].value_counts()

tested_negative    450
tested_positive    240
Name: Class, dtype: int64

In [15]:
df['BMI'].value_counts()

<null>    66
31.6      11
32        11
30.8       9
31.2       9
          ..
19.5       1
49.7       1
43.4       1
50         1
28.1       1
Name: BMI, Length: 230, dtype: int64

In [17]:
na = df.groupby(['NoOfPregency', 'Age', 'Class'])

In [18]:
na.first()

                                    PlasmaGlucoseCon BloodPressure  \
NoOfPregency Age    Class
0            21     tested_negative              101            64
                    tested_positive              151            90
             22     tested_negative              101            65
                    tested_positive              188            82
             23     tested_negative               84            82
...                                              ...           ...
<null>       55     tested_negative              103            72
             65     tested_negative              161            50
             66     tested_negative              114            88
             <null> tested_negative           <null>        <null>
                    tested_positive              115            72

                                    SkinFoldThickness Insuline     BMI  \
NoOfPregency Age    Class
0            21     tested_negative                17        0      21
                    tested_positive                46        0    42.1
             22     tested_negative                28        0  <null>
                    tested_positive                14      185      32
             23     tested_negative                31      125    38.2
...                                               ...      ...     ...
<null>       55     tested_negative                32      190    37.7
             65     tested_negative                 0        0    21.9
             66     tested_negative                 0        0    27.8
             <null> tested_negative                 0        0    22.5
                    tested_positive                 0        0    28.9

                                    DiabetesPedigree
NoOfPregency Age    Class
0            21     tested_negative            0.252
                    tested_positive            0.371
             22     tested_negative            0.237
                    tested_positive            0.682
             23     tested_negative            0.233
...                                              ...
<null>       55     tested_negative            0.324
             65     tested_negative            0.254
             66     tested_negative            0.247
             <null> tested_negative            0.262
                    tested_positive            0.376

[364 rows x 6 columns]